langchain
langchain-google-genai
langchain-community
langchain-huggingface
langchain-text-splitters
fastapi
uvicorn
langgraph
faiss-cpu
sentence-transformers
yfinance
playwright
pandas
numpy
python-dotenv
duckduckgo-search
beautifulsoup4
pypdf
redis
rank_bm25
scikit-learn
prophet
statsmodels
mplfinance
matplotlib
python-multipart
growwapi
pyotp
qdrant-client